.create-head {
    background-image: linear-gradient(310deg, rgb(150, 41, 65) 60%, black 100%);
    font-weight: bolder !important;
    color: #fff;
    margin-bottom: 30px !important;
    font-size: x-large;
    height: 50px;
    text-align: center;
    border-radius: 0.5rem;
    padding: 4px;
}
.crate-body {
    height: 560px;
    overflow-y: scroll;
    overflow-x: unset;
    padding-bottom: 15px;
}
.my-info-cr {
    width: 100%;
    border-radius: 0.5rem;
    margin: auto;
    height: 36px;
    margin-bottom: 10px;
    border: none;
    color: slategray;
    font-weight: 550;
    color: black;
    padding-left: 5px;
}
.my-info-cr-se {
    width: 100%;
    height: 43px;
    margin-top: 9px;
    border: none;
    color: #000000 !important;
}

    .my-info-cr-se label {
        font-size: 0.95rem !important;
        font-weight: 500 !important;
        margin-left: unset !important;
        float: left;
        padding-left: 5px;
    }

.my-info-cr-se select {
    border-radius: 0.5rem;
    color: slategray;
    float: right;
}

    .my-info-cr-se span {
        font-size: 10px;
        float: left;
        font-weight: 900 !important;
        color: aqua;
    }
.my-cont-dynamic input {
    float: left;
    width: 90% !important;
}
.my-cont-dynamic i {
    margin-top: 13px;
    color: black;
    font-weight: 900;
    padding-right: 20px;
    cursor: pointer;
}
.groups {
    background-color: #9697998a;
    color: black;
    height: 28px;
    border-radius: 0.5rem;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 6px;
}