body{
    text-align: center;
    background-image: url("/img/loginbak.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
#cont{
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    margin-top: 7%; 
    border-radius: 10px;
    backdrop-filter: blur(0px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6); 
    background-color: rgba(255, 255, 255, 0.03);
    width: 90%;
    height: 520px;
    display: inline-grid;
}
#right{
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6); 
    background-color: rgba(255, 255, 255, 0.03);
    height: 520px;
    border: 0px;
}
#right img{
    margin: auto;
    height: 100%;
    width: 110%;
    border-radius: inherit;
}
#left {
    font-family: cursive;
    padding: 30px 35px;
}
#left h1{
    font-family: cursive;
    margin-top: -7px;
    color:rgb(150, 41, 65);
}
.btn{
   width: 360px;
   height: 40px;
   border-radius: 10px;
   margin-top: 13px;
   padding-left: 20px;
   padding-right: 20px;

}
.input{
   margin-top: -11px;
 }
#login{
   font-family: cursive;
   width: 150px;
   height: 40px;
   text-align: center;
   background-color: rgb(150, 41, 65);
   color: white;
   cursor: pointer;
   font-size: 15px;
}
#fa{
    font-size:90px;
    color:rgb(150, 41, 65);
}
#pa{
   margin-top: 26px;
   margin-left: 20px;
   margin-bottom: 0px;
}
#pa label{
    margin-top: 10px;
    display: inline-flex;
    margin-right: 50px;
 }
#pa input{
   margin-right: 0px;
}
#final{
   margin-top: 43px;
}
#final button{
    background-color:rgb(150, 41, 65);
    color:white;
    font-family: cursive;
    width: 350px;
    height: 30px;
    border-radius: 10px;
    margin-top: -34px;
    text-align: center;
    cursor: pointer;
}
@media only screen and (min-width: 800px) { 
    #cont{
        width: 800px;
    }
}
